<% case @category.gender
   when "F" %>
    <% case @category.age
       when 19 %>
        <% category_name = "Ladies " + @category.bowtype %>
      <% when 17 %>
        <% category_name = "Junior Ladies - Under 18 " + @category.bowtype %>
      <% when 15 %>
        <% category_name = "Junior Ladies - Under 16 " + @category.bowtype %>
      <% when 13 %>
        <% category_name = "Junior Ladies - Under 14 " + @category.bowtype %>
      <% when 11 %>
        <% category_name = "Junior Ladies - Under 12 " + @category.bowtype %>
    <% end %>
  <% when "M" %>
    <% case @category.age
       when 19 %>
        <% category_name = "Gentlemen " + @category.bowtype %>
      <% when 17 %>
        <% category_name = "Junior Gentlemen - Under 18 " + @category.bowtype %>
      <% when 15 %>
        <% category_name = "Junior Gentlemen - Under 16 " + @category.bowtype %>
      <% when 13 %>
        <% category_name = "Junior Gentlemen - Under 14 " + @category.bowtype %>
      <% when 11 %>
        <% category_name = "Junior Gentlemen - Under 12 " + @category.bowtype %>
    <% end %>
<% end %>
<% provide(:title, "Classifications") %>
<h1><%= category_name %></h1>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#imperial_rounds" aria-expanded="true" aria-controls="imperial_rounds">
          <i class="more-less glyphicon gluphicon-plus"></i>
          Outdoor Imperial Classifications
        </a>
      </h4>
    </div>
    <div id="imperial_rounds" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= render 'shared/outdoor_classifications_blurb' %> 
      </div>
      <table class="classifications table">
        <thead>
          <th>Round</th>
          <th>GMB (<%= @category.gmb_hc %>)</th>
          <th>MB (<%= @category.mb_hc %>)</th>
        <th>Bowman (<%= @category.bowman_hc %>)</th>
        <th>1st (<%= @category.first_hc %>)</th>
        <th>2nd (<%= @category.second_hc %>)</th>
        <th>3rd (<%= @category.third_hc %>)</th>
      </thead>
        <tbody>
          <% Round.where(organisation: "Archery GB", indoor: false).each do |round| %>
            <tr>
              <td><%= link_to round.name, round %></td>
              <td
                <% if !round.gmb_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.gmb_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.mb_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.mb_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.bowman_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.bowman_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.first_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.first_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.second_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.second_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.third_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.third_hc).where.not(score: nil).take.score %></td>
            </tr>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#metric_rounds" aria-expanded="true" aria-controls="metric_rounds">
          <i class="more-less glyphicon gluphicon-plus"></i>
          Outdoor Metric Classifications
        </a>
      </h4>
    </div>
    <div id="metric_rounds" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= render 'shared/outdoor_classifications_blurb' %> 
      </div>
      <table class="classifications table">
        <thead>
          <th>Round</th>
          <th>GMB (<%= @category.gmb_hc %>)</th>
          <th>MB (<%= @category.mb_hc %>)</th>
          <th>Bowman (<%= @category.bowman_hc %>)</th>
          <th>1st (<%= @category.first_hc %>)</th>
          <th>2nd (<%= @category.second_hc %>)</th>
          <th>3rd (<%= @category.third_hc %>)</th>
        </thead>
        <tbody>
          <% Round.where(organisation: "World Archery", indoor: false).each do |round| %>
            <tr>
              <td><%= link_to round.name, round %></td>
              <td
                <% if !round.gmb_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.gmb_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.mb_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.mb_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.bowman_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.bowman_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.first_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.first_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.second_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.second_hc).where.not(score: nil).take.score %></td>
              <td
                <% if !round.third_achievable.match( /\s#{@category.id}\s/).nil? %>
                  class="bold"
                <% end %>
              ><%= round.handicaps.where("value >= ?", @category.third_hc).where.not(score: nil).take.score %></td>
            </tr>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#indoor_rounds" aria-expanded="true" aria-controls="indoor_rounds">
          <i class="more-less glyphicon gluphicon-plus"></i>
          Indoor Classifications
        </a>
      </h4>
    </div>
    <div id="indoor_rounds" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <em>All of the awards below are achivable with the scores listed.</em>
      </div>
      <table class="classifications table">
        <thead>
          <th>Round</th>
          <th>A (<%= @category.a_hc %>)</th>
          <th>B (<%= @category.b_hc %>)</th>
          <th>C (<%= @category.c_hc %>)</th>
          <th>D (<%= @category.d_hc %>)</th>
          <th>E (<%= @category.e_hc %>)</th>
          <th>F (<%= @category.f_hc %>)</th>
          <th>G (<%= @category.g_hc %>)</th>
          <th>H (<%= @category.h_hc %>)</th>
        </thead>
        <tbody>
          <% Round.where(indoor: true).where.not(Bowstyle: "Compound").each do |round| %>
            <% compound_round = Round.where(name: round.name).where(bowstyle: "Compound").take %>
            <tr>
              <td><%= link_to round.name, round %></td>
              <% if @category.bowtype == "Compound" && compound_round != nil %>
                <% round_to_use = compound_round %>
              <% else %>
                <% round_to_use = round %>
              <% end %>
              <td><%= round_to_use.handicaps.where("value >= ?", @category.a_hc).where.not(score: nil).take.score %></td>
              <td><%= round_to_use.handicaps.where("value >= ?", @category.b_hc).where.not(score: nil).take.score %></td>
              <td><%= round_to_use.handicaps.where("value >= ?", @category.c_hc).where.not(score: nil).take.score %></td>
              <td><%= round_to_use.handicaps.where("value >= ?", @category.d_hc).where.not(score: nil).take.score %></td>
              <td><%= round_to_use.handicaps.where("value >= ?", @category.e_hc).where.not(score: nil).take.score %></td>
              <td><%= round_to_use.handicaps.where("value >= ?", @category.f_hc).where.not(score: nil).take.score %></td>
              <td><%= round_to_use.handicaps.where("value >= ?", @category.g_hc).where.not(score: nil).take.score %></td>
              <td><%= round_to_use.handicaps.where("value >= ?", @category.h_hc).where.not(score: nil).take.score %></td>
            </tr>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>